{
  "dataset":"subj",
  "bilm_mode": "sampling",
  "stop_epoch": 20,
  "bilm_wordwise": true,
  "bilm_gumbel": false,
  "no_label": false,
  "dropout": 0.5,
  "epoch": 100,
  "bilm_dropout": 0.0,
  "unit": 300,
  "bilm_layer": 1,
  "save_model": false,
  "learning_rate": 0.0001,
  "bilm_residual": 0.0,
  "bilm_add_original": 0.0,
  "bilm_temp": 1.0,
  "out": "result",
  "validation": true,
  "seed": 2018,
  "bilm_ratio": 0.25,
  "layer": 1,
  "model": "rnn",
  "bilm": null,
  "gpu": 0,
  "bilm_unit": 1024,
  "resume_vocab": null,
  "batchsize": 64
}
